
.regback{
  background-color: rgb(244, 252, 252);
}
.reg-login {
  background-color: rgb(213, 232, 233);
  width: 300px;
  height: 250px;
  max-width: 100%; /* Ensures responsiveness */
  padding: 20px; /* Adds some spacing inside */
  border-radius: 10px; /* Optional: Rounded corners */
  text-align: center; /* Centers text content */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
}
.r-l-button{
  width:200px;

}
.r-lpages{
  background-color: rgb(213, 232, 233);
  width: 300px;
  height: 350px;
  max-width: 100%; /* Ensures responsiveness */
  padding: 20px; /* Adds some spacing inside */
  border-radius: 10px; /* Optional: Rounded corners */
  text-align: center; /* Centers text content */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
}